<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.eas.modules.publicSession.dao.PublicSessionDao">
    <insert id="batchInsert">
        INSERT iNTO publicsession(LID,ARID)VALUES
        <foreach collection="list" item="publicSession" separator=",">
            (#{publicSession.lesson.id},#{publicSession.availableRoom.id})
        </foreach>
    </insert>

</mapper>